
{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide" id="pRegister">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    <main class="m-5 p-5 text-center">
        <section>
           

            {{ form_start(registrationForm) }}
            <DIV class="register_form">
                {{ form_row(registrationForm) }}

            </DIV>

            <button class="btn btn1 mt-4">Créer un Compte</button>
            {{ form_end(registrationForm) }}

        </section>

    </main>
    {% include 'footer.html.twig' %}
</div>
{% endblock %}