{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluide" id="pProfile">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}

    <main>
        <section>

            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div class="w-50 m-auto">
                <input class="btn2" type="submit" value="{{ 'Modifier'|trans }}" />
            </div>
            {{ form_end(form) }}

        </section>

    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}
</div>
{% endblock %}