:root {
  --button: #ff9c00;
  --bleu: #1F6699;
  --bleuFoncé: #005eb3;
  --orange: #ff9c00;
  --orangeClaire: #ffa719;
  --orangeMarron: #b36e00;
  --orangeButton : #ee5a24;
}

body {
  box-sizing: border-box;
  overflow-x: hidden !important;
  font-family: "Oswald", sans-serif;
  background-color: #efefef;
}

main {
  min-height: 60vh;
}

a {
  color: inherit;
  text-decoration: none !important;
}

a:hover {
  color: var(--orangeMarron);
}

nav a {
  text-transform: uppercase;
  font-size: 1rem;
}

h1 {
  word-spacing: 0.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin-top: 1.5rem;
}

ul {
  padding-left: 0 !important;
}

li {
  list-style: none;
}

.btn2 {
  background-color: var(--button);
  color: white;
}

#pAccueil form,
#pSalles form {
  text-align: center !important;
}

.form-group>button.btn {
  color: white;
  background-color: var(--button) !important;
  width: 50%;
  margin-right: 15px;
}

#pAccueil .carousel img {
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}

header {
  position: relative;
}

.form-filtre {
  position: absolute;
  bottom: 20%;
  width: 100%;
}

#pAccueil i {
  position: absolute !important;
  top: 15px;
  left: 25px;
}

.form-filtre input {
  padding-left: 50px !important;
}

.btn1 {
  border: none !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  color: #fff !important;
  background-size: 200% !important;
  transition: 0.6s !important;
  background-image: linear-gradient(to left,
      orange,
      #ee5a24,
      orange) !important;
}

.btn1:hover {
  background-position: right !important;
}

/* ---------------------- Main --------------------------- */
main section .traitD {
  height: 2px !important;
  width: 15% !important;
  margin: 2em 35% !important;
  background-color: rgb(224, 135, 75) !important;
  text-align: center;
}

main section .traitL {
  height: 2px !important;
  width: 15% !important;
  margin: 2em 50% !important;
  background-color: rgb(224, 135, 75) !important;
  text-align: center;
}

.typeEvent {
  margin-left: 5%;
  margin-right: 5%;
}

.typeEvent figure {
  width: 20%;
  position: relative;
}

img.petiteimg,
img.categorie {
  width: 100%;
}

img.petiteimg {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.bestOf .bande {
  margin: 0;
  padding: 0;
  display: block;
  animation: best 20s infinite linear;
  display: flex;
  overflow: hidden;
}

.bestOf .bande a {
  display: block;
  margin: 20px 10px;
}

@keyframes best {

  0%,
  100% {
    margin-left: 100%;
  }

  99.99% {
    margin-left: -500px;
  }
}

.bestOf figure {
  position: relative;
  width: 300px;
  height: 300px;
}

.bestOf figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.descHaut {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.descBas {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

ul.hover_block {
  min-height: 450px !important;
  max-width: 1200px !important;
  margin: 20px auto !important;
}

ul.hover_block li {
  list-style: none;
  float: left;
  padding: 20px;
}

ul.hover_block li a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 100%;
  padding: 16px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border-radius: 5px;
}

ul.hover_block li img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  height: 200px;
}

ul.hover_block h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

/* ------ section ----------*/
.img-thumbnail {
  width: 150px;
  height: 150px;
}

.partenaires {
  margin-top: 100px;
}

.partenaires figure {
  margin: 0;
  padding: 0;
  display: block;
  animation: logo 20s infinite linear;
  display: flex;
  overflow: hidden;
}

.partenaires figure a {
  display: block;
}

.partenaires img {
  margin: 50px 10px;
}

@keyframes logo {

  0%,
  100% {
    margin-left: 100%;
  }

  99.99% {
    margin-left: -500px;
  }
}

/* ---------------------- footer ------------------------ */
footer {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 20px;
  padding-top: 70px;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.hautF>img {
  align-items: center !important;
}

.copyr {
  text-align: center;
  margin-top: 40px;
}
/*
 ██████╗ ███████╗███╗   ██╗
██╔═══██╗██╔════╝████╗  ██║
██║   ██║███████╗██╔██╗ ██║
██║▄▄ ██║╚════██║██║╚██╗██║
╚██████╔╝███████║██║ ╚████║
 ╚══▀▀═╝ ╚══════╝╚═╝  ╚═══╝
*/
#pQsn header img{
  width: 100%;
  height: 500px;
}
#pQsn .titre{
  width: 100%;
  margin-top: -25vh;
}      
#pQsn header
{
  height: 32em;
  line-height: 32em;
  white-space: nowrap;
  margin-bottom: 4em;
}               

/*  
███████╗ █████╗ ██╗     ██╗     ███████╗███████╗
██╔════╝██╔══██╗██║     ██║     ██╔════╝██╔════╝
███████╗███████║██║     ██║     █████╗  ███████╗
╚════██║██╔══██║██║     ██║     ██╔══╝  ╚════██║
███████║██║  ██║███████╗███████╗███████╗███████║
╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚══════╝
*/
/* ****** formulaire ****** */
#pSalles .form {
  width: 100%;
}

#pSalles i {
  position: absolute !important;
  top: 15px;
  left: 25px;
}

/* ****** card ******* */
#pSalles .card {
  padding: 0;
  margin: 10px;
  border-radius: 10px !important;
}

#pSalles .card img {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  width: 100%;
}

#pAccueil section,
#pSalles section,
#pDetail section {
  margin-left: 5%;
  margin-right: 5%;
}

.listeSalle li {
  padding: 5px;
}

.btnDevis {
  float: right;
}

/*
██████╗ ███████╗████████╗ █████╗ ██╗██╗     
██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║     
██║  ██║█████╗     ██║   ███████║██║██║     
██║  ██║██╔══╝     ██║   ██╔══██║██║██║     
██████╔╝███████╗   ██║   ██║  ██║██║███████╗
╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝
*/
#pDetail header ul.nav {
  position: fixed;
  top: 90px !important;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: white;
}

#pDetail .carousel {
  margin-top: 120px;
}

#pDetail .carousel img {
  width: 100%;
  height: 60vh;
}

.logoAvis {
  margin-top: 10px;
}

.logoAvis img {
  width: 100px;
}

#pDetail .card {
  margin: 20px auto !important;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  max-width: 600px;
  max-height: 350px;
  margin: 0 auto;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#pDetail section span {
  color: gray;
}

#pDetail #presentation,
#pDetail #capacite,
#pDetail #avis,
#pDetail #acces {
  margin-top: -120px;
  padding-top: 120px;
}

/* ****************** Profile ******************** */
#pProfile main section {
  text-align: center;
  max-width: 500px;
  margin: 5rem auto !important;
}

#pProfile main section .row {
  background-color: rgb(182, 180, 180);
  border-radius: 5px;
}

#pProfile main section li {
  background: var(--bleu);
  color: white;
  letter-spacing: 0.25rem;
}

/* ******************** Panier  ***************** */
#pPanier main section {

  max-width: 1000px;
  margin: 5rem auto !important;

}

/* ***************** Plan du site  *************** */

#pPlan section {
  margin-top: 130px;
}

#pPlan a {
  display: block;
  line-height: 3rem;
}

/* ***************** CGV  - ML  - PC  *************** */
#pRgpd section {
  width: 80%;
  margin: 50px auto;
}

#pRgpd h1,
#pRgpd h2 {
  text-align: left;
}

#pRgpd h2 {
  font-size: 1.25rem;
}

/* *************************************************************************** */
/* ************************************************************************** */
/* **********************     SMARTPHONE      *****************************  */
/* ***********************************************************************  */
/* *********************************************************************** */
@media screen and (max-width: 576px) {
  header nav.navbar {
    text-align: center;
  }

  header nav #navbarNavDropdown form .btn.btn1 {
    margin: 0.5rem auto !important;
  }

  form .milieu {
    margin: 10px auto;
  }

  footer {
    text-align: center;
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  /* ******* Salles ************* */
  #pSalles .card h5{
    font-size: 1rem;
  }
  #pSalles section{
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  /* ******* Détail ************* */
  .logoAvis {
    margin-top: 10px;
  }

  /* *********** Profile ******* */
  #pProfile main section {
    max-width: 500px;
  }
}

/* **************************************************************************** */
/* *************************************************************************** */
/* *************************************     TABLETTE     ******************* */
/* ************************************************************************* */
/* ************************************************************************ */
@media (min-width: 576px) and (max-width: 991.98px) {
  header nav.navbar {
    text-align: center;
  }

  header nav #navbarNavDropdown form {
    width: 50%;
    margin: auto !important;
  }

  /* 
    figure img.logo{
        margin: 0 !important;
    } */
  header form .form-group,
  .formFiltreSalle .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  ul.hover_block {
    min-height: 600px;
  }

  footer {
    text-align: center;
  }

  .hautF {
    display: flex;
    flex-direction: column;
  }
}

/*  ********************************************************************************* */
/* ********************************************************************************* */
/* *******************************       DESKTOP    ******************************* */
/* ******************************************************************************* */
/* ****************************************************************************** */
@media screen and (min-width: 992px) {

  header form .form-group,
  .formFiltreSalle .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hautF {
    display: flex;
    justify-content: space-around;
  }

  #pDetail main {
    max-width: 1200px;
    margin: 10px auto !important;
  }
}