{% extends 'base.html.twig' %}

{% block title %}Modifier la réservation{% endblock %}


{% block body %}
<div class="container-fluide">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}

    <main id="pReservation">
        <section>
            <h1>Modifier la réservation</h1>

            {{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

            <a href="{{ path('reservation_index') }}" title="Retour à la liste"><i
                    class="fas fa-arrow-circle-left"></i></a>

            {{ include('reservation/_delete_form.html.twig') }}
        </section>
    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}
</div>
{% endblock %}