{% include 'base.html.twig' %}

{% block title %}Session admin{% endblock %}

{% block body %}
    <h1>Modifier le lieu à réserver</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('reservation/_delete_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">Retour à liste</a>

    
{% endblock %}
{% include 'footer.html.twig' %}
