{% extends 'base.html.twig' %}

{% block title %}nouvelle réservation{% endblock %}

{% block body %}
<div class="container-fluide">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}

    <main id="pReservation">
        <section class="text-center">
            <h1>Ajouter une nouvelle réservationn</h1>
            {# {{dump(test)}} #}
            {{ include('reservation/_form.html.twig') }}

            <a href="{{ path('reservation_index') }}">Retour à la liste</a>
        </section>
    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}
</div>
{% endblock %}