{% block title %}Session admin{% endblock %}

{% block body %}
    <h1>Créer un nouveau lieu à réserver</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">Retour à la liste</a>
{% endblock %}
{% include 'footer.html.twig' %}
