{% block body %}
<div class="container-fluide" id="pRgpd">
{% block body %}

<div id="presentation">

    <h1>Présentation de la TEAM KOALA</h1>

    <p>Salut!!!</p>

</div>
{% endblock %}
{% include 'footer.html.twig' %}

