{% include 'base.html.twig' %}
{% include 'nav.html.twig' %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% block body %}

<div id="presentation">

    <h1>Présentation de la TEAM KOALA</h1>

    <p>Salut!!!</p>

</div>

{% include 'footer.html.twig' %}

{% endblock %}