{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide" id="pRgpd">
  <main>
    <section>
      <h1>Politique de confidentialité </h1>
      <p>Sécurité et protection des données personnelles</p>

      <h2>Avertissements</h2>
      <p> Le présent outil est mis à votre disposition gratuitement. L'outil se base sur des informations fondées sur
        l’analyse professionnelle du cabinet en matière de conformité RGPD. Toutefois, la conformité étant un processus
        dynamique et toute situation étant particulière, les informations transmises doivent être adaptées et ne peuvent
        en aucun cas être considérées comme exhaustives ou exactes.</p>

      <p> Sauf à ce que vous demandiez une revue et validation par le Cabinet, le document généré est considéré comme
        une simple information. En conséquence, vous êtes seul responsable des interprétations faites des informations
        fournies, des conseils que vous en déduisez et des adaptations réalisées pour votre activité commerciale propre.
        L'utilisation et l'exploitation de l'outil se fait donc sous votre seule responsabilité et à vos risques et
        périls.</p>

      <h2>Définitions :</h2>
      <p> L'Éditeur : La personne, physique ou morale, qui édite les services de communication au public en ligne. <br>
        Le Site : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur. <br>
        L'Utilisateur : La personne utilisant le Site et les services. <br>
        Nature des données collectées <br>
        Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données
        suivantes concernant ses Utilisateurs :</p>

      <h2>Agrégation des données</h2>
      <p>Agrégation avec des données non personnelles <br>
        Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos
        Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous combinons de manière à ce qu'un
        Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à des
        fins d'analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires
        et à d'autres fins commerciales.</p>

      <p> Agrégation avec des données personnelles disponibles sur les comptes sociaux de l'Utilisateur
        Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés, ledit service
        pourra nous communiquer vos informations de profil, de connexion, ainsi que toute autre information dont vous
        avez autorisé la divulgation. Nous pouvons agréger les informations relatives à tous nos autres Utilisateurs,
        groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.</p>

      <h2>Cookies</h2>
      <p> Durée de conservation des cookies <br>
        Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au
        maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du
        consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à
        chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.</p>

      <h2>Finalité cookies</h2>
      <p>Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les services rendus à
        l'Utilisateur, à partir du traitement des informations concernant la fréquence d'accès, la personnalisation des
        pages ainsi que les opérations réalisées et les informations consultées. <br>
        Vous êtes informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal. Le cookie enregistre
        des informations relatives à la navigation sur le service (les pages que vous avez consultées, la date et
        l'heure de la consultation...) que nous pourrons lire lors de vos visites ultérieures.</p>

      <h2>Conservation des données techniques</h2>
      <p> Durée de conservation des données techniques
        Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités
        visées ci-avant.</p>

      <p> Délai de conservation des données personnelles et d'anonymisation <br>
        Suppression des données après suppression du compte <br>
        Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la
        durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est
        atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
        libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout
        moment en prenant contact avec l'Éditeur.</p>

      <p> Suppression des données après 3 ans d'inactivité <br>
        Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période de trois ans,
        vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront
        supprimées de nos bases de données.</p>

      <h2> Suppression du compte</h2>
      <p>Suppression du compte à la demande
        L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur OU par le
        menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.</p>

      <h2>Suppression du compte en cas de violation des CGU</h2>
      <p> En cas de violation d'une ou de plusieurs dispositions des CGU ou de tout autre document incorporé aux
        présentes par référence, l'Éditeur se réserve le droit de mettre fin ou restreindre sans aucun avertissement
        préalable et à sa seule discrétion, votre usage et accès aux services, à votre compte et à tous les Sites.</p>

      <h2> Indications en cas de faille de sécurité décelée par l'Éditeur</h2>
      <p> Information de l'Utilisateur en cas de faille de sécurité <br>
        Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin de
        garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux, de
        divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant. Dans
        l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous concernant
        stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la
        réalisation des risques identifiés ci-dessus, nous nous engageons à :</p>

      <p>Vous notifier l'incident dans les plus brefs délais ;<br>
        Examiner les causes de l'incident et vous en informer ; <br>
        Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et préjudices
        pouvant résulter dudit incident <br>
        Limitation de la responsabilité <br>
        En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de sécurité
        ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance de
        l'incident en question.</p>

      <h2>Modification des CGU et de la politique de confidentialité</h2>
      <p> En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de confidentialité de manière
        substantielle sans l'information préalable des personnes concernées
        Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU, et à ne pas baisser
        le niveau de confidentialité de vos données de manière substantielle sans vous en informer et obtenir votre
        consentement.</p>
    </section>
    <main>
</div>
{% endblock %}