{% extends 'base.html.twig' %}

{% block body %}
    {% include 'nav.html.twig' %}

<div class="container-fluid" id="pQsn">
    <header>
        <img src="{{asset('img/jungle.jpg')}}" alt="">
        <h1 class="titre text-white">Nous sommes Koala !</h1>
    </header>
    <section class="contenu">
        <h4>Avant de devenir des koala que faisiez-vous ?</h4>
        <p class="text-center">Les 5 personnes que nous sommes étions en formation pour devenir développeur web !</p>
        <h4>Comment avez vous fonder Koala ?</h4>
        <p class="text-center">Koala est partie d'une idée pour un projet de fin de formation</p>
        <h4>La création de se projet a-t-elle été facile ?</h4>
        <p class="text-center">Etant donné que pour nous 5 c'etait une premiere, plusieurs problèmes se sont présenté a nous, mais notre détermination nous à pousser à continuer et réussir à avoir ce que nous voulions.</p>
        <h4>Et pour la suite ?</h4>
        <p class="text-center">Aujourd'hui Koala travail pour proposer à ses clients ou collaborateurs le meilleur ! c'est pour quoi Koala est le leader dans son domaine !</p>
    </section>
</div>
    {% include 'footer.html.twig' %}
{% endblock %}
