 <footer>
    <div class="hautF">
        <a href="#"><img src="https://picsum.photos/seed/picsum/75/75" alt=""></a>
        <div class="apropos mb-4">
            <h4>A propos</h4>
                <div><a href="">Qui sommes nous?</a></div>
                <div><a href="">Comment ça marche</a></div>
        </div>
        <div class="information mb-4">
            <h4>Information</h4>
            <div><a href="">Conditions Générales d'utilisation</a></div>
            <div><a href="">Politique des Confidentialité</a></div>
            <div><a href="">Mentions Légales</a></div>
            <div><a href="">Plan de Site</a></div>
        </div>
        <div class="contact mb-4">
            <h4>Contact</h4>
                <div><a href="mailto:test@gmail.com">test@gmail.com</a></div>
                <div><a href="">01 11 11 11 11</a></div>
        </div>
        
    </div>
    <p class="copyr">&copy;2020 tous droits réservés</p>
</footer>
            