<nav class="menu-fixe">
    <figure class="logo">  
        <a href=""><img src="https://picsum.photos/seed/picsum/75/75" alt="logo"></a>
    </figure>
    <div class="burger">
        <a class="fas fa-bars"></a>
    </div>
    
    <ul class="menu" data-etat="open">
        <li><a class="nav-link" href="#">Salles</a></li>
        <li><a class="nav-link" href="#">Connexion</a></li>
    </ul>
</nav>