<nav class="navbar navbar-expand-lg p-1 fixed">
    <a class="navbar-brand" href="#"><img src="https://picsum.photos/seed/picsum/75/75" alt=""></a>
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <ul class="navbar-nav collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <li class="nav-item active">
            <a class="nav-link" href="#">Salles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Connexion</a>
        </li>
    </ul>
</nav>