{% extends 'base.html.twig' %}

{% block title %}Edit Formule{% endblock %}
{% block body %}
<div class="container-fluide">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}

    <main id="pFormule">
        <h1>Edit Formule</h1>

        {{ include('formule/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('formule_index') }}">retour à la liste</a>

        {{ include('formule/_delete_form.html.twig') }}
        </section>
    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}
</div>
{% endblock %}