
{% block title %}Nouvelle Formule{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}

    <main id="pFormule">
        <section class="text-center">
            <h1>Nouvelle Formule</h1>

            {{ include('formule/_form.html.twig') }}

            <a href="{{ path('formule_index') }}">retour à la liste</a>  
            </section>
    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}
</div>
{% endblock %}