{% extends 'base.html.twig' %}

{% block title %}Modifier l'avis{% endblock %}


{% block body %}
<div class="container-fluide">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}

    <main id="pAvis">
        <section class="text-center">
            <h1>Modifier l'avis</h1>

            {{ include('post/_form.html.twig', {'button_label': 'Modifier'}) }}

            <a href="{{ path('post_index') }}" title="Retour à la liste"><i class="fas fa-arrow-circle-left"></i></a>

            {{ include('post/_delete_form.html.twig') }}

        </section>
    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}
</div>
{% endblock %}