
{% extends 'base.html.twig' %}

{% block title %}Ajouter un avis{% endblock %}


{% block body %}
<div class="container-fluide">
    <header>
        {% include 'nav.html.twig' %}
    </header>
    {% block main %}

    <main id="pAvis">
        <section class="text-center">
            <h1>Ajouter un avis</h1>

            {{ include('post/_form.html.twig') }}

            <a href="{{ path('post_index') }}">Retour à la liste</a>
         </section>
    </main>
    {% endblock %}
    {% include 'footer.html.twig' %}
</div>
{% endblock %}