{% extends 'base.html.twig' %}
{% block title %}Hello AccessdeniedController!{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
<style>
    .example-wrapper { height: 50vh; justify-content: center; align-items: center; font-size: 3em; display: flex; }

</style>
<br><br><br><br><br><br>
<div class="example-wrapper">
    Vous n'avez pas accès a cette page !
</div>
{% include 'footer.html.twig' %}
{% endblock %}