{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluide">
    <header>
        {% include 'nav.html.twig' %}
  </header>
{% block main %}


<h1>Transaction validée</h1>

<p>Récap de la réservation + prix</p>

<hr>

<p>Mme, M. {{ app.user }} </p>


<p>Votre facture vous a été envoyée à votre adresse email: {{ app.user.email }}</p>

<p>Nous vous remercions pour votre confiance.</p>


<p>blablabla la Team Koala (Z.M.C.R.A.)</p>

{% endblock %}
    {% include 'footer.html.twig' %}
</div>
{% endblock %}