
{% include 'nav.html.twig' %}
  </header>
{% block main %}


    <h1>-</h1>

    <hr>

    <p>Mme, M. <strong>{{ app.user }} </strong></p>

    <hr>

    <p>Votre paiement a bien été exécuté.</p>

    <hr>

    <p>Votre demande de réservation a bien été enregistrée et sera traitée dans les plus brefs délais!</p>

    <hr>


    <p>Votre facture vous a été envoyée à votre adresse email: <strong>{{ app.user.email }}</strong></p>

    <hr>

    <p>Nous vous remercions pour la confiance que vous nous avez accordé.</p>


    <p>Cordialement,</p>
    

    <p>La Team KOALA (Z.M.C.R.A.)</p>

{% endblock %}
{% include 'footer.html.twig' %}
